@import "../shared/helper";

.home-header-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #010310; color: white;
  font-size: px(16);
  > header {
    width: px(2420);
    margin: 0 auto;
    height: px(99);
    background: url('./../images/header.png') center/contain no-repeat;
  }
  > main {
    width: px(2420);
    margin: 0 auto;
    padding-top: px(30);
    flex-grow: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 366fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);
    > section { text-align: center; }
    .bordered {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361, inset 0 0 2px 0 #0f3361;
      background-color: #0f113a;
      &::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 4px;
        box-shadow:
          17px 0 0 -16px #0f3361,
          -17px 0 0 -16px #0f3361,
          0 17px 0 -16px #0f3361,
          0 -17px 0 -16px #0f3361,
          9px 0 0 -8px #0d4483,
          -9px 0 0 -8px #0d4483,
          0 9px 0 -8px #0d4483,
          0 -9px 0 -8px #0d4483;
      }
    }
    > .section1, > .section2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section1 {
      grid-area: box1;
    } 
    > .section2 {
      grid-area: box2;
    }
    > .section3 {
      grid-area: box3;
    }
    > .section4 {
      grid-area: box4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section5 {
      grid-area: box5;
    }
    .管辖统计, .破获排名, .发案趋势, .案发时段, .战果, .籍贯, .年龄段 {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: px(315);
      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        display: inline-block;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        line-height: px(24);
        padding: px(10) px(28);
        text-shadow: 0 0 px(3) white;
      }
      .chart {
        flex-grow: 1;
        width: 100%;
      }
    }
    .破获排名 {
      height: px(423);
      .legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0 px(20) px(10);
        > .first, > .second {
          display: inline-block;
          width: px(18);
          height: px(12);
          margin: 0 px(10);
        }
        .first {
          background: linear-gradient(90deg, #2034f9 0%, #04a1ff 100%);
        }
        .second {
          background: linear-gradient(90deg, #b92ae8 0%, #6773e7 100%);
        }
      }
    }
    .发案趋势, .案发时段 {
      height: px(363);
    }
    .战果 {
      > table {
        margin-top: px(38);
        border-collapse: collapse;
        th, td { border: 1px solid #1a3671; }
        thead {
          th {
            height: px(70);
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
          }
        }
        tbody {
          td {
            height: px(50);
            width: px(84);
            background-color: #1c2456;
          }
        }
      }
    }
    .籍贯 {
      height: px(753);
      background-color: transparent;
      > .wrapper {
        position: relative;
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .chart { flex-grow: 1; }
        .notes {
          position: absolute;
          bottom: px(10);
          right: px(10);
        }
      }
    }
    .年龄段 {
      display: flex; flex-direction: column;
      height: px(363);
      .charts {
        display: flex; align-items: center; justify-content: space-between;
        width: 100%; padding: px(30);
        flex-grow: 1;
      }
      &-图1, &-图2, &-图3 {
        display: flex; flex-direction: column; flex: 1; height: 100%;
      }
      &-图1, &-图2 {
        .chart {
          display: flex; position: relative;
          .main { flex-grow: 1; }
          .text { 
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
            color: #33a4fa; text-shadow: 0 0 px(20) #33a4fa; 
            font-size: px(40); font-weight: bold;
           }
        }
      }
      &-图3 {
        border: 1px solid #08397d; margin-left: px(15);
        h3 { font-size: px(20); color: #7ab6db; margin-top: px(6); }
      }
    }
  }
  > footer {
    height: px(68);
    border-top: 1px solid #0d2d59;
    margin: px(20) 0 1px;
    background-color: #0c0d2b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}